<nav>
    <ul>
      <li><a href="/" 
        <% if (current == '/') { %> class="active" <% } %>>
            Home</a></li>
      <li><a href="/testing" 
        <% if (current == '/') { %> class="active" <% } %>>
            Testing</a></li>
      <li><a href="/lessons"
        <% if (current == '/') { %> class="active" <% } %>>
            Lessons</a></li>
      <li><a href="/statistics"
        <% if (current == '/') { %> class="active" <% } %>>
            Statistics</a></li>
      <li><a href="/profile"
        <% if (current == '/') { %> class="active" <% } %>>
            Profile</a></li>
    </ul>
    
    <div class="hamburger"> <span class="bar"></span><span class="bar"></span><span class="bar"></span></div>
    
  </nav>