<%- include('./partials/head') %>

<main>
  <section>
    <h1>Lessons</h1>
    <ol>
      <li>listening</li>
    </ol>
</section>

<section>
  <h2>Own playlist</h2>
  <!-- data -->

  <h2>All stories</h2>
    <button type="button">Dutch</button>
    <button type="button">English</button>

<ul>
    <% stories.forEach(story => { %>
      <li><%= story.title %></li>
    <% }) %>
  </ul>

  <button><</button>
  <button>></button>
  </section>

  <section>
  <h2>Liked playlist</h2>
  <!-- data -->
  <h2>Suggested playlist</h2>
  <!-- data -->
  </section>
</main>
<%- include('./partials/foot') %>